@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap')
	;

body {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: rgb(50, 50, 50);
}

.Botao1 {
	text-decoration: none;
	background-color: #ff5555;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.A1 {
	width: 270px;
	padding: 5px;
	margin-bottom: 10px;
	border: 2px solid #000000;
	border-radius: 10px;
}

#tab {
	padding-top: 30px;
}

#tab th {
	
	border: 2px solid #000000;
	padding: 10 px;
	text-align: left;
	background-color: #ff5555;
	color: #000;
}

#tab td {
	border: 1px solid #ddd;
	padding: 10 px;
}